/* mamoon part  */

/* nita part  */
.task {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.task-text {
    margin: 0;
}

.edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
/* vaishali aprt  */

/* kevin part  */
